.productList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
    padding: 2em;
}

.search input {
    border: none;
    border-bottom: 2px solid rgb(138, 194, 127);
    background-color: rgb(230, 235, 229);
    padding: 0.5em;
    margin-right: 1em;
    height: 2.5em;
}

.search select {
    border: none;
    border-bottom: 2px solid rgb(138, 194, 127);
    background-color: rgb(230, 235, 229);
    padding: 0.5em;
    height: 2.5em;
}

.loader {
    width: 100px;
    height: 100px;
    border: 10px solid rgb(224, 222, 222);
    border-bottom-color: rgb(138, 194, 127);
    border-radius: 50%;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
