.navbar {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 40px;
    background-color: rgb(138, 194, 127);
    color: white;
}
.navbarElement {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}
.navbarElement:hover {
    border-bottom: 1px solid white;
}
.navbarElement:nth-child(1) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 40px;
    border: none;
    cursor: default;
}
.navbarElement:nth-child(1) h2 {
    margin: 0px;
}
.navbarElement:nth-child(4) {
    position: absolute;
    right: 40px;
    border: none;
}
.navbarElement .icon {
    font-size: 1.2em;
}
.navbarElement .iconText {
    vertical-align: middle;
}

a {
    color: white;
    text-decoration: none;
}
